openapi: 3.0.3
info:
  title: Bozza Archive API
  description: Long-term memory API for AI conversations and knowledge
  version: 1.0.0
  contact:
    name: Bozza Archive
    url: https://bozza.au

servers:
  - url: https://api.bozza.au
    description: Production server

paths:
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  timestamp:
                    type: string
                    format: date-time

  /chat/log:
    post:
      summary: Log chat conversations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogRequest'
      responses:
        '200':
          description: Messages logged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogResponse'

  /chat/search:
    post:
      summary: Search through chat history
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'

  /chat/{chat_id}:
    get:
      summary: Retrieve specific chat
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Chat retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        '404':
          description: Chat not found

    delete:
      summary: Delete chat and messages
      parameters:
        - name: chat_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Chat deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

components:
  schemas:
    LogRequest:
      type: object
      required:
        - chat_id
        - messages
      properties:
        chat_id:
          type: string
          description: Unique chat identifier
        user_id:
          type: string
          description: User identifier
        metadata:
          type: object
          description: Additional chat metadata
        messages:
          type: array
          items:
            type: object
            required:
              - role
              - content
            properties:
              id:
                type: string
                description: Optional message ID
              role:
                type: string
                enum: [user, assistant, system]
              content:
                type: string
              created_at:
                type: string
                format: date-time
              metadata:
                type: object

    LogResponse:
      type: object
      properties:
        status:
          type: string
          example: "ok"
        inserted_messages:
          type: integer
          example: 5

    SearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Search query
        top_k:
          type: integer
          default: 10
          description: Number of results to return
        filter:
          type: object
          properties:
            user_id:
              type: string
            project:
              type: string
          additionalProperties:
            type: string

    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              score:
                type: number
              message:
                $ref: '#/components/schemas/Message'
              chat:
                $ref: '#/components/schemas/ChatSummary'

    ChatResponse:
      type: object
      properties:
        chat:
          $ref: '#/components/schemas/Chat'
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'

    Chat:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        user_id:
          type: string
        metadata:
          type: object

    ChatSummary:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        metadata:
          type: object

    Message:
      type: object
      properties:
        id:
          type: string
        role:
          type: string
          enum: [user, assistant, system]
        content:
          type: string
        created_at:
          type: string
          format: date-time
        metadata:
          type: object
